@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root {
    --grey: #d5e1f8;
    --dark-grey: #c1d2f4;
    --grey-text: #9ca5b6;
    --redColor: #e95f62; /* Naming b/c bootstrap overrides */
    --dark-red: #e75053;
    --baby-blue: #dde8fc;
    --blueColor: #6495ed; /* Naming b/c bootstrap overrides */
}

body {
    font-family: 'Quicksand', sans-serif !important;
}

/* Colors */
.blue {color: var(--blueColor)}
.bg-baby-blue {background-color: var(--baby-blue)}
.bg-grey {background-color: var(--grey)}

/* Buttons */
.btn {border: none !important}
.btn:focus {box-shadow: none !important}
.btn {
    border-radius: 20px !important;
    background-color: var(--grey) !important;
    color: var(--grey-text) !important;
}
.btn:hover {
    background-color: var(--dark-grey) !important;
}

.btn.red {
    background-color: var(--redColor) !important;
    color: white !important;
}
.btn.red:hover {
    background-color: var(--dark-red) !important;
}

.btn.blue {
    background-color: var(--blueColor) !important;
    color: white !important;
}
.btn.blue:hover {
    background-color: var(--blueColor) !important;
}