@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
    font-family: 'Quicksand', sans-serif !important;
    background-color: #f8f9ff !important;
}

.nav-link {
    color: #9c9d9c !important;
}
.nav-link:hover {
    color: black !important;
}
.nav-link-active {
    color: black !important;
}
.red-btn {
    border-radius: 20px !important;
    background-color: #e95f62 !important;
    border-color:  #e95f62 !important;
}
.red-btn:hover {
    background-color: #e75053 !important;
    border-color:  #e75053 !important;
}
.grey-btn {
    border-radius: 20px !important;
    background-color: #d5e1f8 !important;
    border-color:  #d5e1f8 !important;
    color: #9ca5b6 !important;
}
.grey-btn:hover {
    background-color: #c1d2f4 !important;
    border-color:  #c1d2f4 !important;
}
.arrow {
    font-size: 18px;
    color: #e95f62 !important;
    animation: arrow 3s linear 1s infinite;
  }
@keyframes arrow {
    0%   {transform: translateY(0px)}
    10% {transform: translateY(3px)}
    25% {transform: translateY(0px)}
    100% {transform: translateY(0px)}
}
.icon-col {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    text-align: center;
}
.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e95f62;
    color: white;
    font-size: 64px;
    width: 100px;
    height: 100px;
    padding: 1.5rem;
    border-radius: 50%;
}